.discount-cart-wrapper,
.bill-cart-wrapper{
    width: 70%;
}
.discount-cart p {
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    padding-top: 0;
    margin-bottom: 2rem;
}
.discount-cart form {
    position: relative;
}
.discount-cart input {
    /* outline: none; */
    border: 1 px solid #333;
    width: 100%;
    height: 5rem;
    border-radius: 5rem;
    display: inline-block;
    padding-left: 1rem;
}
.discount-cart button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.bill-cart {
    align-items: right;
    padding: 1rem 3rem;
}
.bill-cart button {
    top: 5px;
    right: 5px;
    border-radius: 5rem;
    cursor: pointer;
    width: 70%;
}
.bill-cart button span {
    color: #fff;
}
.bill-cart p {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    padding-bottom: 5px;
}
.title {
    font-size: 1.7rem;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 2rem;
}
.link {
    text-decoration: none;
    color: white;
}
.link:hover{
    color: blue;
}
.price {
    padding-bottom: 3rem;
}
.bill-cart-wrapper {
    
    border: 1px solid #f2f2f2;
    padding: 3rem 2rem 4rem 2rem;
    background-color: #f2f2f2;
}

.bill-cart > span {
    color: red;
}
.bill-cart{
    display: flex;
    justify-content: flex-end;
}
.bill-cart-wrapper >*:last-child{
    text-align: center;
}
.bill-cart-wrapper > .price > *{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}