* {
    box-sizing: border-box;
}

.shop__sidebar {
    text-align: left;
	font-size: 1.5rem;
}

.sidebar__categories {
	margin-bottom: 50px;
}

.sidebar__categories .section-title {
	margin-bottom: 35px;
}

.sidebar__categories .section-title h4 {
	font-size: 22px;
}

.categories__accordion .card {
	border: none;
	border-radius: 0;
	padding-bottom: 12px;
	border-bottom: 1px solid #f2f2f2 !important;
	margin-bottom: 12px;
}

.categories__accordion .card:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none !important;
}

.categories__accordion .card-heading {
	cursor: pointer;
}

.categories__accordion .card-heading a {
	font-size: 15px;
	font-weight: 500;
	color: #111111;
	display: block;
}

.categories__accordion .card-body {
	padding-left: 0;
	padding-top: 6px;
	padding-bottom: 0;
}

.categories__accordion .card-body li {
	list-style: none;
	position: relative;
	padding-left: 16px;
}

.categories__accordion .card-body li:before {
	position: absolute;
	left: 4px;
	top: 14px;
	height: 1px;
	width: 4px;
	background: #666666;
	content: "";
}

.categories__accordion .card-body li a {
	font-size: 15px;
	color: #666666;
	line-height: 30px;
}

.categories__accordion .card-heading a:after,
.categories__accordion .card-heading>a.active[aria-expanded=false]:after {
	content: "";
	font-size: 14px;
	font-family: "FontAwesome";
	color: #666666;
	position: absolute;
	right: 30px;
	top: 0px;
}

.categories__accordion .card-heading.active a:after {
	content: "";
	font-size: 14px;
	font-family: "FontAwesome";
	color: #666666;
	position: absolute;
	right: 30px;
	top: -1px;
}

.categories__accordion .card-heading a[aria-expanded=true]:after,
.categories__accordion .card-heading>a.active:after {
	content: "";
	font-size: 14px;
	font-family: "FontAwesome";
	color: #666666;
	position: absolute;
	right: 30px;
	top: -1px;
}

.collapse:not(.show){display:none}

i {
	float: right;
	margin-top: -15px;;
}

.dropdown__container {
	display: none;
}



.sidebar__filter {
	position: relative;
	margin-bottom: 60px;
}

.sidebar__filter .section-title {
	margin-bottom: 50px;
}

.sidebar__filter .section-title h4 {
	font-size: 18px;
}

.filter__btn {
	font-size: 14px;
	color: #0d0d0d;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	display: block;
	padding: 5px 16px 5px 24px;
	border: 2px solid #ff0000;
	border-radius: 2px;
	text-align: center;
	align-self: center;
}

.section-title {
	margin-bottom: 45px;
}

.section-title h4 {
	color: #111111;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
}

.section-title h4:after {
	position: absolute;
	left: 0;
	bottom: -4px;
	height: 2px;
	width: 70px;
	background: #ca1515;
	content: "";
}

.form-range{
	width:100%;height:1.5rem;
	padding:0;
	background-color:transparent;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none
}

.form-range:focus{
	outline:0
}
.form-range:focus::-webkit-slider-thumb{
	box-shadow:0 0 0 1px #fff,0 0 0 .25rem rgba(13,110,253,.25)
}
.form-range:focus::-moz-range-thumb{
	box-shadow:0 0 0 1px #fff,0 0 0 .25rem rgba(13,110,253,.25)
}

.form-range::-webkit-slider-thumb{
	width:1.5rem;
	height:1.5rem;
	margin-top:-0.5rem;
	background-color:#ca1515;
	border:0;
	border-radius:1rem;
	-webkit-transition:background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	transition:background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	-webkit-appearance:none;
	appearance:none
}
@media (prefers-reduced-motion:reduce){
	.form-range::-webkit-slider-thumb{
		-webkit-transition:none;transition:none
	}
}
.form-range::-webkit-slider-thumb:active{
	background-color:#FF751f;
}
.form-range::-webkit-slider-runnable-track{
	width:100%;
	height:.5rem;
	color:transparent;
	cursor:pointer;
	background-color:#CA1515;
	border-color:transparent;
	border-radius:1rem
}

@media (prefers-reduced-motion:reduce){
	.form-range::-moz-range-thumb{
		-moz-transition:none;
		transition:none
	}
}
.form-range::-moz-range-thumb:active{
	background-color:#b6d4fe
}
.form-range::-moz-range-track{
	width:100%;
	height:.5rem;
	color:transparent;
	cursor:pointer;
	background-color:#dee2e6;
	border-color:transparent;
	border-radius:1rem
}

 .price-input p {
	font-size: 16px;
	color: #0d0d0d;
	font-weight: 500;
	display: inline-block;
	margin-bottom: 0;
}

 .price-input:after {
	position: absolute;
	left: 81px;
	top: 12px;
	height: 1px;
	width: 5px;
	background: #0d0d0d;
	content: "";
}

.price-input input {
	font-size: 16px;
	color: #0d0d0d;
	max-width: 16%;
	border: none;
}

 .price-range {
	border-radius: 0;
	margin-bottom: 28px;
}

.sidebar__sizes .size__list label,
.sidebar__color .size__list label {
	display: block;
	padding-left: 20px;
	font-size: 14px;
	text-transform: uppercase;
	color: #444444;
	position: relative;
	cursor: pointer;
}

.sidebar__sizes .size__list label input,
.sidebar__color .size__list label input {
	position: absolute;
	visibility: hidden;
}

.sidebar__sizes .size__list label input:checked~.checkmark,
.sidebar__color .size__list label input:checked~.checkmark {
	border-color: #ca1515;
}

.sidebar__sizes .size__list label input:checked~.checkmark:after,
.sidebar__color .size__list label input:checked~.checkmark:after {
	border-color: #ca1515;
	opacity: 1;
}

.sidebar__sizes .size__list label .checkmark,
.sidebar__color .size__list label .checkmark {
	position: absolute;
	left: 0;
	top: 4px;
	height: 10px;
	width: 10px;
	border: 1px solid #444444;
	border-radius: 2px;
}

.sidebar__sizes .size__list label .checkmark:after,
.sidebar__color .size__list label .checkmark:after {
	position: absolute;
	left: 0px;
	top: -2px;
	width: 11px;
	height: 5px;
	border: solid #ffffff;
	border-width: 1.5px 1.5px 0px 0px;
	-webkit-transform: rotate(127deg);
	-ms-transform: rotate(127deg);
	transform: rotate(127deg);
	opacity: 0;
	content: "";
}

.sidebar__sizes,
.sidebar__color {
	margin-bottom: 40px;
}

.sidebar__sizes .section-title,
.sidebar__color .section-title {
	margin-bottom: 35px;
}

.sidebar__sizes .section-title h4,
.sidebar__color .section-title h4 {
	font-size: 18px;
}

.sidebar__color .color__list label {
	text-transform: capitalize;
}
