.item-container {
    width: 270px;
    height: 55rem;
    position: relative;
    /* font-family: "Montserrat", sans-serif; */
    font-size: 1.5rem;
    margin-top: 2rem;
}
.whishlist-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
}

.whishlist-icon:hover {
    color: #fff;
    background-color: red;
    background: linear-gradient(155deg, #fd3f6b 0%, #fd7863 98%, #f3dfe0 100%);
}
.item__review {
    display: flex;
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 5rem;
}

.item__review span {
    display: inline-block;
    padding-left: 2rem;
    color: #333;
    font-size: 14px;
}
.item-container p {
    padding-left: 1rem;
    padding-top: 1.5rem;
    font-size: 1.6rem;
}
.item__price {
    padding-top: 1.5rem;
    font-size: 2rem;
    padding-left: 1rem;
    font-weight: 600;
    color: #333;
}

