.hero {
    margin-top: 1rem;
    background-color: #fbe5d9;
    color: #333;
    text-align: left;
}
.hero-animate .category {
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-name: fadeOutUp;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
}
.hero-animate .title-1 {
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-name: fadeOutUp;
    animation-iteration-count: 1;
    animation-delay: 1s;
}
.hero-animate .title-2 {
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-name: fadeOutUp;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
}
.hero-animate .btn {
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-name: fadeOutUp;
    animation-iteration-count: 1;
    animation-delay: 2s;
}
.align-self {
    align-self: center;
}
.hero__content {
    position: relative;
    text-transform: uppercase;
    /* background-color: red; */
    margin-top: -5rem;
}
.hero__content > *:not(:last-child) {
    margin-bottom: 1rem;
}
.category {
    font-size: 1.8rem;
    font-weight: 500;
    padding-left: 5rem;
    position: relative;
    display: block;
}
.category::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 0;
    width: 3rem;
    height: 3px;
    background-color: #db5b5d;
    z-index: 10;
}

.hero__image {
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-name: fadeOutUp;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
}
.btn-l {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.8rem;
}
.title-1,
.title-2 {
    font-size: 6rem;
}

.title-1 {
    font-weight: 500;
}

.hero__image {
    padding-bottom: 1rem;
}

.hero__sale {
    display: flex;
    position: absolute;
    top: 70%;
    right: 10%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: #fff;
    font-size: 1.6rem;
    padding: 2rem;
    border-radius: 5px;
    gap: 1.5rem;
    font-weight: 500;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-name: fadeOutUp;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
}
.hero__sale__content > *:not(:last-child) {
    padding-bottom: 1.5rem;
}
.hero__sale__content .title {
    font-size: 2rem;
}

@keyframes fadeOutUp {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}
