/**  blue-color: cfe8fc
 **  red-color: ff2f2f
 **  yellow-color: ff9806
 **  green-color: 4cd137
 ** */
.blog-single {
    font-size: 1.4rem;
    width: 360px;
    color: #333;

    border-radius: 5px;
    text-align: left;
}
.blog-single:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #f4f4f4;
}
.blog-single__image {
    overflow: hidden;
}
.blog-single__image > img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all 1s ease;
}
.blog-single__image > img:hover {
    transform: scale(1.2);
}
.blog-single__meta {
    display: flex;
    gap: 1rem;
    font-weight: 500;
    font-size: 1.4rem;
}
.blog-single__date {
    flex: 1;
}
.blog-single__content {
    padding-left: 1rem;
    padding-right: 1rem;
}
.blog-single__content > h3 {
    padding-bottom: 3rem;
    padding-top: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.8rem;
}
.blog-single__content > *:not(:first-child) {
    padding-bottom: 2rem;
}

.blog-single__content > *:last-child {
    padding-bottom: 4rem;
}
.blog-single__content > h3:hover {
    text-decoration: underline;
}
.blog-single__content > h3 a:hover {
    color: #ff2f2f;
}
