.blog-list__title {
    text-align: left;
    font-size: 1.5rem;
}

.blog-list__title h3 {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    padding-bottom: 1rem;
    position: relative;
}

.blog-list__title h3:after {
    content: "";
    width: 40%;
    height: 3px;
    background-color: #ff2f2f;
    position: absolute;
    left: 0;
    bottom: 0;
}
.blog-list__link{
    text-align: right;
    padding-right: 2rem;
    font-size: 1.5rem;
}