/**  blue-color: cfe8fc
 **  red-color: ff2f2f
 **  yellow-color: ff9806
 **  green-color: 4cd137
 ** */
.blog-single {
    font-size: 1.5rem;
    width: 360px;
    color: #333;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
    text-align: left;
}
.blog-single__image > img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.blog-single__meta {
    display: flex;
    gap: 1rem;
    font-weight: 500;
}
.blog-single__date {
    flex: 1;
}
.blog-single__content {
    padding-left: 1rem;
    padding-right: 1rem;
}
.blog-single__content > h3 {
    padding-bottom: 3rem;
    padding-top: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}
.blog-single__content > *:not(:first-child) {
    padding-bottom: 2rem;
}

.blog-single__content > *:last-child {
    padding-bottom: 4rem;
}
.blog-single__content > h3:hover {
   text-decoration: underline;
   
}
.blog-single__content >h3 a:hover{
    color: #ff2f2f;
}