.Login_compo
{
   
    width: 1440px;
    height: 700px;
    margin: auto;
    margin-top: 115px;

}

.logo_zf
{
    margin-left: 120px;
    margin-top: 100px;
    float: left;
    text-align: center;

}

.login_page
{
    width: 716px;
    height: 824px;
    margin-left: 0px;
    margin-top: 0px;
    float: right;
    text-align: center;
}

.Login_frame
{
    width: 568px;
    height: 300px;
    margin-top: 16px;
    margin-left: 79px;
}



h1
{
  font-size: 26px;
  margin-top: 44px;
  font-family: sans-serif;
  height: 35px;
  font-family: "Montserrat", sans-serif !important;
}

.login_box
{
    width: 568px;
    height: 154px;
    margin-top: 8px;
}


.username
{
    width: 450px;
    height: 50px;
    margin-top: 12px;
    border-radius: 30px;
    background-color: #DFDCDC;
    border: none;
    
}

.pass
{
    width: 450px;
    height: 50px;
    margin-top: 16px;
    border-radius: 30px;
    background-color: #DFDCDC;
    border: none;
    
}
.pass::placeholder
{
    color: #A8A7A7;
    font-size: 20px;
    text-align: left;
    font-family: "Montserrat", sans-serif !important;
    margin-top: 5px;
    
}

.username::placeholder
{
        color: #A8A7A7;
        font-size: 20px;
        text-align: left;
        font-family: "Montserrat", sans-serif !important;
        
    
}



.login_text
{
    width: 205px;
    height: 54px;
    color: D6D6D6;
    border: none;
    border-radius: 4px;
    font-family: "Montserrat", sans-serif !important;
    font-size: 20px;
    font-weight: bold;
}

.lostpasstext
{
    font-family: "Montserrat", sans-serif !important;
    font-size: 16px;
    color: #245AE4;
    font-weight: bold;
}

.lostpass
{
    margin-top: 15px;
}

hr
{
    margin-left: 18px;
}

.Another_way_to_login
{
    margin-top: 16px;
    
}

.login2text
{
    font-family: "Montserrat", sans-serif !important;
    font-size: 22px;
    font-weight: bold;
}

.login3rd
{
 
    width: 355px;
    height: 38px;
    margin: 0 auto;
}

.fb_link

{
    margin-top: 15px;
    margin-left: 70px;
    float: left;
    text-align: center;
}

.gg_link
{
    margin-top: 12.5px;
    margin-right: 70px;
    float: right;
    text-align: center;
}

.SignUp

{
    width: 454px;
    height: 60px;
    margin: 0 auto;
}

.signuptext
{
    font-family: "Montserrat", sans-serif !important;
    font-size: 15px;
    color: #5B5959;
    float: left;
    text-align: center;
    margin-left: 100px;
    margin-top: 12.5px;
}

.signuplink
{
    font-family: "Montserrat", sans-serif !important;
    font-size: 20px;
    color: #245AE4;
    float: right;
    text-align: center;
    margin-right: 107px;
    margin-top: 10px;
}

