* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif !important;
    margin: 0 auto;
    width: 100%;
    line-height: 1.2;
    scroll-behavior: smooth;
}
