* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* min-height: 100%; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    width: 100%;
}
